.center {
  text-align:center;
}

body {
  background-color:#0099cc;

}

table {
  width: 100%; 
  border: 1px solid black; 
  height: 40%; 
}

tr {
  height: 50px;
  background-color: #4E5066;
  color: white;
 
  
}
.rank {
  width: 40px;
}

#table {
  border-style: solid;
  border: none;
  width: 89%; 
  float: right; 
  background-color: #003366;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

#dollars {
  float: right; 
  font-size: 35px;
  margin-right: 5%;
}

#wallet-table {
  border: none;
  width: 70%;
  margin-left: 5%;
  margin-right: 15%;
  font-size: 20px ;
  vertical-align: middle;
  
}

#account {
  border-style: solid;
  display: block;
  height: 700px; 
  width: 89%; 
  float: right; 
  background-color: #707f8e;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}
#wallet {
  border-style: solid;
  display: none;
  height: 700px; 
  width: 89%; 
  border: none;
  float: right; 
  background-color: #b5bcc4;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  border-radius: 15px;
}

#wallet tr:hover {
  background-color: white;
  color: #000;
}

#menu {
  border-style: solid;
  height: 700px; 
  width: 89%; 
  float: right; 
  background-color: #003366;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #003366;
  position: fixed;
  height: 100%;
  overflow: auto;
  }
  
  li {
    float: right;
    width: 100%;
    user-select: none;
    cursor: pointer;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;

  }
  
  li a:hover {
    background-color: #9dc6dd;
    color: black;
  }